//script(src='..public/javascripts/viewer.js')
extends layout

block content
  p Link to the object  #{objectKey} contained on the Bucket: #{bucketId}
  a(href='#{url}' target='_blank') Click here to download the file

