.container-fluid
    .footer.navbar-fixed-bottom 
        hr(style='margin: 30px 0 10px 0;')
        p(class="text-right") &copy;&nbsp;
            a(href='http://toomtec.com' target="_blank") Toomtec 2017 &nbsp;



script(rel='text/javascript'  src='/javascripts/sec.js')

block footer