div.navbar.navbar-default.navbar-fixed-top(role='navigation')
    div.container-fluid
        div.navbar-header
            a.navbar-brand(href="")
                img(src="/images/toomrepobrancomaozinha.png" class="logo" alt="logo")
            h2(class="navbar-text") #{p.body.tool_consumer_instance_description}                 
        