
extends ../../common/layout

block content
       
    .container-fluid
        .row
            .col-xs-12.col-sm-12.col-md-15.col-lg-15.col-xs-offset-0.col-sm-offset-0.col-md-offset-3.col-lg-offset-3.toppad
              .panel.panel-info
                .panel-heading
                  h3.panel-title Detalhes do usuário
                .panel-body
                  .row
                    .col-md-9.col-lg-9
                      table.table.table-user-information
                        tbody
                          tr
                            td Email
                            td #{p.user.displayName} 
                            

                .panel-footer
                    a.btn.btn-primary(href='/console') Console
                    span 
                    a.btn.btn-primary(href='/buckets') My Buckets